ETH_CHAIN_ID=3
LINK_CONTRACT_ADDRESS=0x20fE562d797A42Dcb3399062AE9546cd06f63280
LOG_LEVEL=debug
MINIMUM_CONTRACT_PAYMENT=1000000000000000000
ORACLE_CONTRACT_ADDRESS=
MIN_INCOMING_CONFIRMATIONS=0
MIN_OUTGOING_CONFIRMATIONS=6
ETH_GAS_PRICE_DEFAULT=1000000000